{% extends 'base.html.twig' %}
{% block title %}CreateUser{% endblock %}
{% block body %}
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Update User</h6>
        {{ form_start(t)}}
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">lib</label>
            <div class="col-sm-10">
                {{form_widget(t.lib,{'attr':{'class':'form-control'}})}}
            </div>
        </div>




        {{form_widget(t.ajouter,{'attr':{'class':'btn btn-primary'}})}}
        {{ form_end(t)}}
    </div>

{% endblock %}