{% extends 'basefront.html.twig' %}
{% block body %}


 


<section class="section service-2">

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
                 {% for ce in cc %}
				 <div class="content">
					<img src="{{ asset('assets/'~ce.image) }}" alt="" class="img-fluid">
                    
					<div class="content">
						
                        <h4 class="mt-4 mb-2 title-color">{{ ce.nom }}</h4>
                         
                        <td></td>
						<p class="mb-4">{{ ce.description }}</p>
						
                        
                      
					</div>
					  
				</div>
				
			</div>
			{% endfor %}
			</div>
			

	
    
</section>



	{{ knp_pagination_render(cc) }}

{% endblock %}