<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nouveau partenaire</title>
	</head>
	<body>
		<h1>Nouveau partenaire</h1>
		<p>Une nouveau partenaire a été créé</p>
		<p>Nom du partenaire :
			{{partenaire.nom}}</p>
		<p>email du partenaire :
			{{partenaire.email}}</p>
	</body>
</html>
