<form method="post" action="{{ path('app_offre_delete', {'idOffre': offre.idOffre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.idOffre) }}">
	<style>
		.my-button {
			background-color: <?php echo $color; ?>
			;
			color: blue;
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			cursor: pointer;
		}
	</style>

	<button class="btn btn-info m-2 text-white">Delete</button>
</form>
