{% extends 'base.html.twig' %}

{% block title %}Edit Offre{% endblock %}

{% block body %}
    <h1>Edit Offre</h1>

    {{ include('offre/_form.html.twig', {'button_label': 'Update'}) }}
    




	<div>
		<style>
			.my-button {
				background-color: <?php echo $color; ?>
				;
				color: blue;
				border: none;
				padding: 10px 5px;
				border-radius: 5px;
				cursor: pointer;
				
			}
		</style>

		

		<a class="my-button" style="float: right;" href="{{ path('app_offre_index') }}">back to list</a>
	</div>


{% endblock %}
