<!DOCTYPE>
<html>
	<head>
		<title>Access Denied</title>
		<link rel="stylesheet" href="{{ asset ('other_css/403_styles.css') }}">
	</head>
	<body>
		<div class="scene">
			<div class="overlay"></div>
			<div class="overlay"></div>
			<div class="overlay"></div>
			<div class="overlay"></div>
			<span class="bg-403">404</span>
			<div class="text">
				<span class="hero-text"></span>
				<span class="msg">Page Not Found!!
				</span>
				<span class="support">
					<a href="{{ path('app_produit_index') }}">Go back
					</a>
				</span>
			</div>
			<div class="lock"></div>
		</div>
	</body>
</html>
